<div class="row"> <h1>{{title}}</h1> </div>
<div class="row"><a ng-href="#/new" class="col m2 offset-m5 btn-large orange darken-3"><i class="material-icons left">directions_car</i>Add Auto</a></div>
<div class="scroll">
  <div class="row">
    <div class="container">
    <div class="col m3 autoCard" ng-repeat="auto in autos">

    <p class="auto">{{auto.year}}</p>
    <p class="auto">{{auto.make}}</p>
    <p class="auto">{{auto.model}}</p>
    <p class="auto">{{auto.vin}}</p>
    <p class="auto">{{auto.color}}</p>

  <!-- <img class="activator" ng-src={{auto.img}} err-src="img/noImage.png"> -->
     <button class="buttonSpacing col m12 btn red" ng-click="deleteAutoArrayItem(auto)">Delete</button>
     <button class="buttonSpacing col m12 btn orange darken-3" ng-click="editAutoArrayItem(auto)">Edit</button>
     <button class="buttonSpacing col m12 btn orange darken-3"  ng-click="goToService(auto)">Service</button>
     </div>
    </div>
  </div>
</div>
