<h1>{{title}}</h1>
<div class="container">
  <div>
    <h3>Auto Details</h3>
    <p class="auto">{{serviceAuto.year}}</p>
    <p class="auto">{{serviceAuto.make}}</p>
    <p class="auto">{{serviceAuto.model}}</p>
    <p class="auto">{{serviceAuto.vin}}</p>
    <p class="auto">{{serviceAuto.color}}</p>
  </div>

  <div class="row">
    <div><a class="col m3 offset-m2 btn-large orange darken-3" ng-model="recall"  ng-click="getAutoRecalls(serviceAuto)">Check Recalls</a></div>
    <div><a ng-href="#/garage/1" class="col m3 offset-m1 btn-large orange darken-3">Garage</a></div>
  </div>

  <div>
    <p> Number of Recalls {{recallCount}}</p>

  </div>

  <div>
  <p>open recalls</p>
    <div class="recallCard" ng-repeat="recall in serviceRecall">
      <p> <label>NHTSACampaignNumber</label> {{recall.NHTSACampaignNumber}} </p>
      <p> <label>Affected</label> {{recall.Component}} </p>
      <p> <label>Summary</label> {{recall.Summary}} </p>
      <p> <label>Consequence</label> {{recall.Conequence}} </p>
      <p> <label>Remedy</label> {{recall.Remedy}} </p>
    </div>
  </div>

</div>





