<h1>{{title}}</h1>
<div class="container">
<div>
  <h3>Auto Details</h3>
  <p class="auto">{{serviceAuto.year}}</p>
  <p class="auto">{{serviceAuto.make}}</p>
  <p class="auto">{{serviceAuto.model}}</p>
  <p class="auto">{{serviceAuto.vin}}</p>
  <p class="auto">{{serviceAuto.color}}</p>

</div>
  <div class="row" >
    <div input-field class="col m4 offset-m1">
      <select ng-model="serviceLog.type" material-select >
        <option value="" selected>Services</option>
        <option ng-repeat="value in type.choices">{{value}}</option>
      </select>
    </div>
  </div>

  <label for="inputCreated"></label>
    <input input-date
      type="text"
      name="created"
      id="inputCreated"
      ng-model="serviceLog.date"
      container="body"
      format="dd/mm/yyyy"
      months-full="{{ month }}"
      months-short="{{ monthShort }}"
      weekdays-full="{{ weekdaysFull }}"
      weekdays-short="{{ weekdaysShort }}"
      weekdays-letter="{{ weekdaysLetter }}"
      disable="disable"
      min="{{ minDate }}"
      max="{{ maxDate }}"
      today="today"
      clear="clear"
      close="close"
      select-years="15"
      on-start="onStart()"
      on-render="onRender()"
      on-open="onOpen()"
      on-close="onClose()"
      on-set="onSet()"
      on-stop="onStop()" />


  <input type="text" placeholder="enter mileage" ng-model="serviceLog.mileage"">
  <input type="text" placeholder="enter cost" ng-model="serviceLog.cost">

  <button class="buttonSpacing col m12 offset-m1 btn orange darken-3" ng-click="saveServiceLog(serviceAuto)">Save</button>
  <button class="buttonSpacing col m12 offset-m1 btn orange darken-3" ng-click="viewAutoServiceLogs(serviceAuto)">Logs</button>
  <button class="buttonSpacing col m12 offset-m1 btn orange darken-3" ng-click="viewAutoRecalls(serviceAuto)">Recalls</button>
  <button class="buttonSpacing col m12 btn orange darken-3" ng-click="backToGarage(serviceAuto)">Garage</button>

  <p>Auto Service Notes</p>
  <input type="text" placeholder="" ng-model="serviceLog.note">
</div>