@import "partials/loader";
@import "partials/body";
@import "partials/garage";
@import "partials/inputs";
@import "partials/landing";

body {
  background-image: url(../img/speedometer-vector_fk33eePO_L.jpg);
  background-size: cover;
}

h1 {
  text-align: center; }
