<div class="container login-container">
  <section class="login">
    <h3 class="center-align">Login or Register for AutoPilot</h3>
    <div class="row">
      <div class="input-field col m10 offset-m1">
        <label>Email:</label> <input type="email" autofocus="true" ng-model="account.email" class="emailEntry">
      </div>
    </div>
    <div class="row">
      <div class="input-field col m10 offset-m1">
        <label>Password:</label> <input type="password" ng-model="account.password" class="passwordEntry">
      </div>
    </div>
    <div class="row">
      <div class="col m2 offset-m4"><button class="btnLogin btn btn-info orange darken-3" ng-click="login()">LOGIN</button></div>
      <div class="col m2"><button class="btnReg btn btn-default orange darken-3" ng-click="register()">REGISTER</button></div>
    </div>
  </section>
</div>